@import 'variables';

@font-face {
  font-family: 'roboto';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: 'roboto';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto/roboto-bold-webfont.woff2);
}

body {
  font-family: 'roboto', sans-serif;
}

.main {
  display: flex;
  margin: 30px 20%;
  max-width: 935px;
}
.main__phones {
  width: 440px;
  height: 410px;
  position: relative;
}

.images-container {
  position: absolute;
  top: 47px;
  left: 75px;
  height: 419px;
  width: 239px;
}

.images-containerr {
  position: absolute;
  top: 47px;
  left: 75px;
  height: 419px;
  width: 239px;
}

.common-image {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit !important;
  width: inherit !important;
  opacity: 0;
}

.active-image {
  opacity: 1;
}

.main__picture img {
  width: 450px;
  height: 600px;
}

.global-form {
  box-sizing: border-box;
}

.form {
  border: 1px solid $grey;
  border-radius: 1px;
  margin-top: 27px;
}

.form__heading {
  font-size: 40px;
  font-family: 'roboto', sans-serif;
  margin: 30px 0;
  text-transform: capitalize;
  text-align: center;
}

.form__email {
  width: 258px;
  height: 36px;
  display: block;
  margin: 0 35px;
  background-color: $light-grey;
  border: 1px solid $grey;
  padding: 0px 7px;
  border-radius: 5px;
  color: $light-grey;
}

.form__password {
  width: 258px;
  height: 36px;
  padding: 0px 7px;
  display: block;
  margin: 7px 35px 15px 35px;
  background-color: $light-grey;
  border: 1px solid $grey;
  border-radius: 5px;
  color: $light-grey;
}

.form__button {
  width: 274px;
  height: 30px;
  display: block;
  margin: 7px 35px 20px;

  color: #fff;
  background-color: $blue;
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
}

.form__border {
  padding: 10px;
  text-transform: uppercase;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.form__border:before,
.form__border::after {
  content: '────────';
  color: $grey;
  padding-left: 18px;
  padding-right: 18px;
}

.form__enter {
  margin-top: 20px;
}

.form__facebook {
  color: $facebook;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.form__forgot-password {
  color: $facebook;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.new-acc-register {
  border: 1px solid $grey;
  border-radius: 1px;
  margin-top: 27px;
  padding: 20px;
  font-size: 13px;
}

.register {
  text-transform: capitalize;
  color: $blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.install__app {
  margin-top: 25px;
  .install__heading p {
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: $dark-grey;
    margin-bottom: 25px;
  }

  .install__pictures {
    display: flex;
    justify-content: center;
  }

  .install__apple img {
    width: 136px;
    height: 40px;
  }
  .install__googleplay img {
    width: 136px;
    height: 40px;
    margin-left: 10px;
  }
}
